:root {
  --light-gray: #F0F0F0;
  --gray: #808080;
  --dark-gray: #A9A9A9;
  --sky-blue: #87CEEB;
}

html {
  width: 350px;  
  height: auto; 
}

body {
  font-size: 14px;
  font-family: Arial, sans-serif;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

#popup {
  margin: 7px 10px;
  width: 100%;
  height: auto;
}