:root {
  --light-gray: #F0F0F0;
  --gray: #808080;
  --dark-gray: #A9A9A9;
}

html {
  width: 350px;  
  height: 50px; 
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

#popup {
  margin: 7px 10px;
  width: 100%;
  height: 36px;
}