#search-options .theme-toggle {
  margin-left: auto;
  border: none;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
  transition: background-color 0.2s;
}

.light-theme .theme-toggle:hover,
.light-theme .theme-toggle:focus {
  background-color: var(--light-gray);
}

.dark-theme .theme-toggle:hover,
.dark-theme .theme-toggle:focus {
  background-color: var(--dark-hover);
}