.goto-home {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 10px 5px 0;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease;
}

.goto-home > .icon {
  height: 28px;
  width: 28px;
  margin-right: 5px;
}

.goto-home > p {
  margin: 0;
}

.light-theme .goto-home {
  color: var(--light-text);
}

.dark-theme .goto-home {
  color: var(--dark-text);
}

.light-theme .goto-home:hover,
.light-theme .goto-home:focus {
  background-color: var(--light-gray);
}

.dark-theme .goto-home:hover,
.dark-theme .goto-home:focus {
  background-color: var(--dark-hover);
}

.light-theme .goto-home,
.light-theme .goto-home:active {
  background-color: var(--light-bg);
}

.dark-theme .goto-home,
.dark-theme .goto-home:active {
  background-color: var(--dark-elevate);
}