#main .search-query-row {
  display: flex;
  align-items: center;
  column-gap: 7px;
  height: 36px; 
  margin-bottom: 10px;
  width: 100%;
}

.search-bar {
  height: 36px;
  border-radius: 8px;
  transition: background-color 0.2s ease;
  flex-grow: 1;
  margin-right: 7px;
  pointer-events: none;
}

.search-bar > input {
  height: 36px;
  display: flex;
  align-items: center;
  padding: 0 5px;
  width: 100%;
  pointer-events: auto;
  user-select: auto;
}

.search-bar:hover:not(:focus-within) {
  background-color: var(--light-gray);
}

.match-counter {
  margin-left: auto;
  pointer-events: none;
}

#search-options {
  display: flex;
  align-items: center;
  width: 100%;
}

#search-options > label {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

#search-options > label input[type="checkbox"] {
  user-select: auto;
  appearance: auto; 
  background: initial;
  margin-right: 5px;
}

#search-options input[type="checkbox"]:focus {
  outline: 2px solid var(--sky-blue);
}

#search-options .goto-help {
  color: var(--link-blue);
  text-decoration: underline;
  cursor: pointer;
}

#search-options .goto-help:focus {
  outline: 1px dotted var(--link-blue);
}