:root {
  --better-ctrl-f-highlight-color: yellow
}

span.better-ctrl-f-highlight {
  background-color: var(--better-ctrl-f-highlight-color) !important;
}

span.better-ctrl-f-focus {
  background-color: #FFA500 !important;
}