:root {
  --better-ctrl-f-highlight-color: #FFFF00;
  --better-ctrl-f-focus-color: #FFA500;
}

span.better-ctrl-f-highlight {
  background-color: var(--better-ctrl-f-highlight-color) !important;
}

span.better-ctrl-f-focus {
  background-color: var(--better-ctrl-f-focus-color) !important;
}